In [1]:
import numpy as np
from sklearn.datasets import load_breast_cancer
from sklearn.preprocessing import MinMaxScaler,StandardScaler
from sklearn.model_selection import train_test_split

In [2]:
data = load_breast_cancer()
X= data.data
y = data.target

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.25,random_state=42)

In [3]:
# normalisation

min_max_scaler = MinMaxScaler()
X_train_minmax = min_max_scaler.fit_transform(X_train)

In [4]:
X_test_minmax = min_max_scaler.transform(X_test)

In [8]:
# standardisation

std_scaler = StandardScaler()
X_train_std = std_scaler.fit_transform(X_train)
X_test_std = std_scaler.transform(X_test)

In [12]:
X_train_minmax[0,1:]
X_train_std[0,1:]

array([-1.43851335, -0.41172595, -0.39047943, -1.86366229, -1.26860704,
       -0.82617052, -0.95286585, -1.72936805, -0.9415409 , -0.86971355,
       -1.35865347, -0.83481506, -0.57230673, -0.74586846, -0.65398319,
       -0.52583524, -0.94677147, -0.53781728, -0.63449458, -0.54268486,
       -1.65565452, -0.58986401, -0.52555985, -1.51066925, -0.89149994,
       -0.75021715, -0.91671059, -0.92508585, -0.80841115])


## Feature Creation

In [13]:
import pandas as pd
import numpy as np

# Create a synthetic dataset
data = {
    'Feature1': [1.2, 2.4, 3.6, 4.8, 5.0],
    'Feature2': [0.5, 1.0, 1.5, 2.0, 2.5],
    'Target': [10, 20, 30, 40, 50]
}

df = pd.DataFrame(data)

# Let's engineer a new feature 'Feature3' as the product of 'Feature1' and 'Feature2'
df['Feature3'] = df['Feature1'] * df['Feature2']

# Display the resulting DataFrame
print(df)

   Feature1  Feature2  Target  Feature3
0       1.2       0.5      10       0.6
1       2.4       1.0      20       2.4
2       3.6       1.5      30       5.4
3       4.8       2.0      40       9.6
4       5.0       2.5      50      12.5

In [14]:
import pandas as pd
import numpy as np

# Create a synthetic dataset with a skewed feature
data = {
    'SkewedFeature': [1, 2, 4, 8, 16, 32, 64, 128, 256, 512]
}

df = pd.DataFrame(data)

In [15]:
df

   SkewedFeature
0              1
1              2
2              4
3              8
4             16
5             32
6             64
7            128
8            256
9            512

In [16]:
df['Transformed feature'] = np.log(df['SkewedFeature'])

In [17]:
df

   SkewedFeature  Transformed feature
0              1             0.000000
1              2             0.693147
2              4             1.386294
3              8             2.079442
4             16             2.772589
5             32             3.465736
6             64             4.158883
7            128             4.852030
8            256             5.545177
9            512             6.238325

In [18]:
# implementation of scaling
minval = df['Transformed feature'].min()

In [20]:
maxval = df['Transformed feature'].max()

In [21]:
df['Scaled'] = (df['Transformed feature']-minval)/(maxval-minval)

In [22]:
df

   SkewedFeature  Transformed feature    Scaled
0              1             0.000000  0.000000
1              2             0.693147  0.111111
2              4             1.386294  0.222222
3              8             2.079442  0.333333
4             16             2.772589  0.444444
5             32             3.465736  0.555556
6             64             4.158883  0.666667
7            128             4.852030  0.777778
8            256             5.545177  0.888889
9            512             6.238325  1.000000